<div class ='changedMain' ng-app="RoutingApp" data-markdown>
###Welcome!
I started my love affair with data four years ago doing Economics research at the University of Washington. While the subject, residential water demand, was a little dry, the statistical learning methods used for modeling fascinated me. It was only after taking the first offered Econometrics and Data Science course my last quarter at UW, to realize I could make a career out it. Since then, I have been honing my programming, statistics, and machine-learning skillset.

I also play saxophone, keyboard, and compose for an indie electronic pop band called LOST TRIIBE. We have been lucky enough to play gigs here and there as time permits. Click the spotify icon to listen to our EP. Be warned: music will automatically start playing.
</div>
